<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Bank Withdraw Status</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <!--link href="css/helper.css" rel="stylesheet"-->
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">

<!-- Main wrapper  -->
    <div id="main-wrapper">
    <!-- /.Header -->
        <div class="header">
        <!-- Nav Header starts here-->
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b><img src="images/logo.png" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="images/logo-text.png" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> 
                            <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)">
                                <i class="mdi mdi-menu"></i>
                            </a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)">
                                <i class="ti-menu"></i>
                            </a>
                        </li>
                        <!-- Messages -->
                        
                        <!-- End Comment -->
                        <!-- Messages -->
                        
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/users/5.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                    <li><a href="#"><i class="ti-wallet"></i> Balance</a></li>
                                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                    <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        <!--nav header ends here-->
        </div>
    <!--header ends here-->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="mmairtime_transaction_log.html">MM Airtime Transaction</a></li>
                                <li><a href="msisdn_log.html">MSISDN Info</a></li>
                                <li><a href="airtime_purchase.html">Airtime Purchase</a></li>
                                <li><a href="mmdeposit_log.html">MM Funds Deposit</a></li>
                                <li><a href="mmwithdraw_log.html">MM Withdraw</a></li>
                                <li><a href="bank_deposit_log.html">Bank Deposit</a></li>
                                <li><a href="internal_transfer_log.html">Internal Funds Transfer</a></li>
                                <li><a href="bank_withdraw_log.html">Bank Withdraw</a></li>
                                <li><a href="transaction_status_log.html">Transaction Status</a></li>
                                <li><a href="bank_withdraw_status_log.html">Bank Withdraw Status</a></li>
                                <li><a href="balance_log.html">Balance</a></li>
                                <li><a href="ministatement_log.html">Mini Statement</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
                <!--Sidebar nav ends here-->
            </div>
            <!--sidebar scroll ends here-->
        </div>
        <!--left sidebar div ends here-->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb upper row content header-->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h6 class="text-primary">Bank Withdraw Status Logs</h6>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Bank Withdraw Status</li>
                    </ol>
                </div>
            </div>
            <!--content header ends here-->

            <!--main container starts here  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
              	<div class="card-box mb-30">
                  	<div class="pd-20">
						        <h4 class="text-blue h4">Bank Withdraw Status Logs</h4>
                                <h6 class="card-subtitle">Bank Withdraw Status API History, CSV, Excel, PDF & Print 
                                    <select class = "form-select" aria-label="Default select example">
                                        <option>Today</option>
                                        <option>monthly</option>
                                        <option>yearly</option>
                                    </select>
                                </h6>
                                
                     </div>
                               <div class="pb-20">
                                    <table id="server_table" class="data-table table stripe hover nowrap" cellspacing="0" width="100%">
                                    
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!--page container ends here-->
            
        </div>
        <!--Page wrapper ends here-->

    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>


    <script src="js/lib/datatables/datatables.min.js"></script>
    <script src="js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="js/lib/datatables/datatables-init.js"></script>
    <script>
        $('document').ready(function ()
        {
            //alert("welcome home");
            //$().DataTable();
            let endpoint = "http://127.0.0.1:8000";

            let log_type = "bank_withdraw_status";
            
            $('#server_table').dataTable({
                
                       columns: [
                                    { title: 'Status' },
                                    { title: 'Transaction.ID' },
                                    { title: 'Amount' },
                                    
                                    { title: 'Response' },
                                    { title: 'Request' },
                                    { title: 'IP' },
                                    { title: 'Date' },
                                    { title: 'Time' },
                             ],
                processing: true,
                serverSide: true,
                ajax:endpoint+"/airtime/api/logs?type="+log_type,
                buttons: [
                   'copy','csv', 'excel', 'pdf', 'print'
                ],

            });
        });
        
    </script>
</body>
</html>