<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href={% static "images/logos/edoctorug.jpeg" %}>
    <title>MM Airtime Transaction Logs</title>
    <!-- Bootstrap Core CSS -->
    <link href={% static "css/lib/bootstrap/bootstrap.min.css" %} rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/2.0.6/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <!--link href={% static "css/helper.css" %} rel="stylesheet"-->
    <link href={% static "css/style.css" %} rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src={% static "https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" %}></script>
    <script src={% static "https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" %}></script>
    <![endif]-->
        <!-- All Jquery -->
    
    <!--date picker begins-->
     <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!--date picker ends-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--script src={% static "js/lib/jquery/jquery.min.js" %}></script-->
    <!-- Bootstrap tether Core JavaScript -->
    <script src={% static "js/lib/bootstrap/js/popper.min.js" %}></script>
    <script src={% static "js/lib/bootstrap/js/bootstrap.min.js" %}></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src={% static "js/jquery.slimscroll.js" %}></script>
    <!--Menu sidebar -->
    <script src={% static "js/sidebarmenu.js" %}></script>
    <!--stickey kit -->
    <script src={% static "js/lib/sticky-kit-master/dist/sticky-kit.min.js" %}></script>
    <!--Custom JavaScript -->
    <script src={% static "js/custom.min.js" %}></script>
    
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>

    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.6/css/dataTables.bootstrap.min.css"></script>

    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
</head>

<body class="fix-header fix-sidebar">

<!-- Main wrapper  -->
    <div id="main-wrapper">
    <!-- /.Header -->
        <div class="header">
        <!-- Nav Header starts here-->
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/dashboard">
                        <!-- Logo icon -->
                        <b><img src={% static "images/logos/edoctorug.jpeg" %} height="120px" width="120px" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src={% static "images/logo-text.png" %} alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> 
                            <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)">
                                <i class="mdi mdi-menu"></i>
                            </a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)">
                                <i class="ti-menu"></i>
                            </a>
                        </li>
                        <!-- Messages -->
                        
                        <!-- End Comment -->
                        <!-- Messages -->
                        
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href={% static "#" %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src={% static "images/logos/user.svg" %} alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                    <li><a href="#"><i class="ti-wallet"></i> Balance</a></li>
                                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                    <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                    <li><a href="/dashboard/auth/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                             <li>
                            {% if verify_email_div %}
                                <div class="alert alert-info" role="alert">
                                    User not yet verified, <a href="/verification/user/verify-email/request-new-link/" class="alert-link">click here</a> to resend verification message.
                                </div>
                            {% else %}
                                 
                            {% endif %}
                            
                        </li>
                        </li>
                    </ul>
                </div>
            </nav>
        <!--nav header ends here-->
        </div>
    <!--header ends here-->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow  " href={% static "#" %} aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="mmairtime_transaction_log.html">MM Airtime Transaction</a></li>
                                <li><a href="msisdn_log.html">MSISDN Info</a></li>
                                <li><a href="airtime_purchase.html">Airtime Purchase</a></li>
                                <li><a href="mmAirtime Transaction_log.html">MM Funds Airtime Transaction</a></li>
                                <li><a href="mmwithdraw_log.html">MM Withdraw</a></li>
                                <li><a href="bank_Airtime Transaction_log.html">Bank Airtime Transaction</a></li>
                                <li><a href="internal_transfer_log.html">Internal Funds Transfer</a></li>
                                <li><a href="bank_withdraw_log.html">Bank Withdraw</a></li>
                                <li><a href="transaction_status_log.html">Transaction Status</a></li>
                                <li><a href="bank_withdraw_status_log.html">Bank Withdraw Status</a></li>
                                <li><a href="balance_log.html">Balance</a></li>
                                <li><a href="ministatement_log.html">Mini Statement</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
                <!--Sidebar nav ends here-->
            </div>
            <!--sidebar scroll ends here-->
        </div>
        <!--left sidebar div ends here-->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb upper row content header-->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h6 class="text-primary">Mobile Money Airtime Transaction Logs</h6>
                    <button class="btn btn-primary" onclick="refreshTable()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                        </svg>
                        Refresh Table
                    </button>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">MM Airtime Transaction</li>
                    </ol>
                </div>
            </div>
            <!--content header ends here-->

            <!--main container starts here  -->
            <div class="container-fluid">
                <div class="col-md-20 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    <h8 class="text-primary">Home</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="contactus.html">
                                    <h8 class="text-primary">Contact Us</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="services.html">
                                    <h8 class="text-primary">Services</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="privacy.html">
                                    <h8 class="text-primary">Privacy</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="TC.html">
                                    <h8 class="text-primary">Terms And Conditions</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="faq.html">
                                    <h8 class="text-primary">FAQ</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="aboutus.html">
                                    <h8 class="text-primary">About Us</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% static "assets/Edoctorug_Payments_API_Doc.pdf" %}"">
                                    <h8 class="text-primary">API Documentation</h8>
                                </a>
                            </li>
                        </ol>
                    </div>
                <!-- Start Page Content -->
              	<div class="card-box mb-30">
                  	<div class="pd-20">
						    <h4 class="text-blue h4">MM Airtime Transaction Logs</h4>
                            <h6 class="card-subtitle">Mobile Money Airtime Transaction API History, CSV, Excel, PDF & Print 
                                    <select id="log_span" class = "custom-select custom-select-lg mb-3" aria-label="Default select example">
                                        <option selected>Click Here Select Logs To Display </option>
                                        <option value = 0>All Logs</option>
                                        <option value = 1>Today</option>
                                        <option value = 2>monthly</option>
                                    </select>
                                    <div class="spinner-border"></div>
                                    </div>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </h6>
                            <!--date filter modal starts here-->
                            <div id="log-filter" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class = "modal-content">
                                        <div class = "modal-header">
                                            <div class = "modal-title">
                                                Choose Your Prefered Date
                                            </div>
                                        </div>
                                        <div class = "modal-body">
                                            <form id="date-filter">
                                                Choose Start Date Below:<br/>
                                                    <input id="start_datepicker" name="start_datepicker" type="date"/><br/><br/>
                                                Choose End Date Below:<br/>
                                                    <input id="end_datepicker" name="end_datepicker" type="date"/><br/><br/>
                                                    <button type = "submit" class="btn btn-primary">Filter Logs</button>
                                            </form>
                                        </div>
                                        <div class = "modal-footer">
                                            <button type= "button" class="btn btn-secondary" data-dismiss="modal">Cancel Filter</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--date filter modal ends here-->
                            <!--date filter modal starts here-->
                            <div id="dialog_msg" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class = "modal-content">
                                        <div class = "modal-header">
                                            <div class = "modal-title">
                                                Please Wait For Data
                                            </div>
                                        </div>
                                        <div class = "modal-body">
                                            <div class="fa-2x">
                                                <i class="fa fa-heartbeat animated pulse infinite"></i>
                                                <i class="fa fa-heartbeat animated pulse infinite"></i>
                                                <i class="fa fa-heartbeat animated pulse infinite"></i>
                                            </div>
                                        </div>
                                        <div class = "modal-footer">
                                    
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--date filter modal ends here-->

                    </div>
                               <div class="pb-20">
                                    <table id="server_table" class="data-table table stripe hover display wrap" cellspacing="0" width="100%">
                                    
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!--page container ends here-->
            
        </div>
        <!--Page wrapper ends here-->




    <!--script src={% static "js/lib/datatables/datatables.min.js" %}></script>
    <script src={% static "js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" %}></script>
    <script src={% static "js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js" %}></script>
    <script src={% static "js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" %}></script>
    <script src={% static "js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" %}></script>
    <script src={% static "js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" %}></script>
    <script src={% static "js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" %}></script>
    <script src={% static "js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" %}></script>
    <script src={% static "js/lib/datatables/datatables-init.js" %}></script-->
    <script>
        let log_type = "mmAirtime_Transaction";
        let filter_type = "null";
        let filter_data = "";
        $('document').ready(function ()
        {
            //alert("welcome home");
            //$().DataTable();
            let endpoint = ""; //"http://127.0.0.1:8000";

            $('#dialog_msg').modal('show');
            
            $('#server_table').DataTable({
                
                       columns: [
                                    { title: 'Status' },
                                    { title: 'Tel no' },
                                    { title: 'Amount' },
                                    { title: 'Method' },
                                    { title: 'Response' },
                                    { title: 'Request' },
                                    { title: 'IP' },
                                    {title: "Date"},
                                    {title: "Token UserName"}
                             ],
                //processing: true,
                //serverSide: true,
                ajax:endpoint+"/dashboard/logs?type="+log_type,
                lengthMenu: [25, 50, 75, 100],
                pageLength: 25,
                layout:{
                    topStart:{
                        buttons: [
                                    'copy','csv', 'excel', 'pdf', 'print'
                                ],
                    }
                }
                

            });


            $("#server_table").on("xhr.dt", function (){
                $('#dialog_msg').modal('hide');
            });

            $('#log_span').on("change",function ()
            {
                const select_value =  parseInt(this.value);
                //salert("selected "+select_value);
                
                switch(select_value)
                {
                    case 1:
                        const today_date = new Date();//.format('Y-m-d h:i:s');
                        const formattedDate = `${today_date.getFullYear()}-${today_date.getMonth() + 1}-${today_date.getDate()}`;
                        //alert(`filter today ${formattedDate}`);
                        $('#dialog_msg').modal('show');
                        filterToday();
                    break;
                        
                    case 2:
                        //alert("filter month");
                        $("#log-filter").modal('show');
                    break;

                    case 3:
                        //alert("filter year");
                        $("#log-filter").modal('show');
                    break;

                    default:
                        alert("filter null");
                }
            });

        $("#date-filter").on('submit', function (event)
        {
            event.preventDefault();
            //alert("submitiing date filter");
            filterDate();
        });

            

            
        });

        function refreshTable()
        {
            //alert("refreshing table");

            $('#server_table').DataTable().ajax.reload();
        }
        
        function filterDate()
        {
                const date_filter = $("#date-filter").serialize();
                filter_type = "date_filter";
                filter_data = date_filter;
                
                $("#log-filter").modal('hide');
                $('#dialog_msg').modal('show');
                const ajax_endpoint = `/dashboard/logs?type=${log_type}&filter_type=${filter_type}&${filter_data}`;
                //$('#server_table').DataTable().clear().draw();
                //alert(ajax_endpoint);
                $('#server_table').DataTable().ajax.url(ajax_endpoint).load();

        }

        function filterToday()
        {
                //const date_filter = $("#date-filter").serialize();
                filter_type = "today_filter";
                //filter_data = date_filter;
                
                const ajax_endpoint = `/dashboard/logs?type=${log_type}&filter_type=${filter_type}`;
                //$('#server_table').DataTable().clear().draw();
                //alert(ajax_endpoint);
                $('#server_table').DataTable().ajax.url(ajax_endpoint).load();

        }

            
    </script>
</body>
</html>