<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    {%load static %}
    <link rel="icon" type="image/png" size="40x40" href={% static "images/logos/edoctorug.jpeg" %}>
    <title>Login</title>
    <!-- Bootstrap Core CSS -->
    <link href={% static "css/lib/bootstrap/bootstrap.min.css" %} rel="stylesheet">
    <!-- Custom CSS -->
    <link href={% static "css/helper.css" %} rel="stylesheet">
    <link href={% static "css/style.css" %} rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <div class="unix-login">
            <div class="container-fluid">
                <div class="col-md-20 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    <h8 class="text-primary">Home</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/dashboard/public/contactus">
                                    <h8 class="text-primary">Contact Us</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/dashboard/public/services">
                                    <h8 class="text-primary">Services</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/dashboard/public/privacy">
                                    <h8 class="text-primary">Privacy</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/dashboard/public/TC">
                                    <h8 class="text-primary">Terms And Conditions</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/dashboard/public/faq">
                                    <h8 class="text-primary">FAQ</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/dashboard/public/aboutus">
                                    <h8 class="text-primary">About Us</h8>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% static "assets/Edoctorug_Payments_API_Doc.pdf" %}"">
                                    <h8 class="text-primary">API Documentation</h8>
                                </a>
                            </li>
                        </ol>
                    </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                         <!--Loging In modal starts-->
                            <div id="dialog_msg" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class = "modal-content">
                                        <div class = "modal-header">
                                            <div class = "modal-title">
                                                <div class="col-md-12 text-center mb-1">
                                                    <b>Login, Please Wait </b><i class="fa fa-heartbeat"></i>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class = "modal-body">
                                            <div class="fa-2x">
                                                <i class="fa fa-heartbeat animated bounce infinite"></i>
                                                <i class="fa fa-heartbeat animated bounce infinite"></i>
                                                <i class="fa fa-heartbeat animated bounce infinite"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--loging in modal ends here-->
                            <!--custom login message-->
                            <div id="login_dialog_msg" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class = "modal-content">
                                        <div class = "modal-header">
                                            <div class = "modal-title">
                                                <div class="col-md-12 text-center mb-1">
                                                    <b>Login, Please Wait </b><i class="fa fa-heartbeat"></i>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class = "modal-body">
                                            <i id="login_msg"></i>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--Custom loging message modal ends here-->
                        <div class="login-content card">
                            <div class="login-form">
                                <div class="col-md-12 text-center mb-1">
                                    <a href="/"><img src="{% static 'images/logos/edoctorug.jpeg' %}" height="120px" width="120px" alt="Edoctorug Logo"></a>
                                </div>
                                <h4><b>Login To Edoctorug</b></h4>
                                <form id="login_form" action="/dashboard/auth/login" method="post">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input id="username_input" type="text" name="username" class="form-control" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label>User Password</label>
                                        <input id="password_input" name="password" type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="checkbox">
                                        <label>
        										<input type="checkbox"> Remember Me
        									</label>
                                        <label class="pull-right">
        										<a href="#">Forgotten Password?</a>
        									</label>

                                    </div>
                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                                    <div class="register-link m-t-15 text-center">
                                        <p>Don't have account ? <a href="/dashboard/auth/register"> Sign Up Here</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src={% static "js/lib/jquery/jquery.min.js" %}></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src={% static "js/lib/bootstrap/js/popper.min.js" %}></script>
    <script src={% static "js/lib/bootstrap/js/bootstrap.min.js" %}></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src={% static "js/jquery.slimscroll.js" %}></script>
    <!--Menu sidebar -->
    <script src={% static "js/sidebarmenu.js" %}></script>
    <!--stickey kit -->
    <script src={% static "js/lib/sticky-kit-master/dist/sticky-kit.min.js" %}></script>
    <!--Custom JavaScript -->
    <script src={% static "js/custom.min.js" %}></script>
    <script>
        let end_point = "";//"http://127.0.0.1:8000";
        $("document").ready(function(){

            $("#login_form").on("submit", function (event){
                event.preventDefault();
                $('#dialog_msg').modal('show');
                var formData = {
                    username: $("#username_input").val(),
                    password: $("#password_input").val()
                };
                
                $.ajax({
                    type: "POST",
                    url: end_point+"/dashboard/auth/login",
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data, textStatus, request) {
                    //alert(JSON.stringify(data));
                    if(data.status_code == "200"){
                       // var setCookieHeader = request.getResponseHeader("Set-Cookie");
                       // alert("cookie: "+setCookieHeader);
                        // Set the cookie in the browser client
                       // document.cookie = setCookieHeader;
                       // window.location.href ="/dashboard";
                       $('#dialog_msg').modal('hide');
                       //alert("Login Successful");

                       window.location.href = "/dashboard";
                      
                    }else{
                        console.log(`server error message: ${JSON.stringify(data)}`);
                        $('#dialog_msg').modal('hide');
                        alert("Login Error: "+data.data.message);
                    }
                }).fail(function (data) {
                    console.log(`server error message: ${JSON.stringify(data)}`);
                    data_msg = data.data.message
                    $('#dialog_msg').modal('hide');
                    alert(`Server Error: ${data_msg}`);
                });
                

                



        });
        });
    </script>

</body>

</html>