<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Privacy Policy of Edoctorug">
    <meta name="author" content="Edoctorug">
    <!-- Favicon icon -->
    {% load static %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logos/edoctorug.jpeg' %}">
    <title>Privacy Policy</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <div class="unix-login">
            <div class="container-fluid">
                <div class="col-md-20 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <h8 class="text-primary">Home</h8>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/dashboard/public/contactus">
                                <h8 class="text-primary">Contact Us</h8>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/dashboard/public/services">
                                <h8 class="text-primary">Services</h8>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/dashboard/public/privacy">
                                <h8 class="text-primary">Privacy</h8>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/dashboard/public/TC">
                                <h8 class="text-primary">Terms And Conditions</h8>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/dashboard/public/faq">
                                <h8 class="text-primary">FAQ</h8>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/dashboard/public/aboutus">
                                <h8 class="text-primary">About Us</h8>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% static 'assets/Edoctorug_Payments_API_Doc.pdf' %}">
                                <h8 class="text-primary">API Documentation</h8>
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center mb-4">
                        <a href="/"><img src="{% static 'images/logos/edoctorug.jpeg' %}" height="120px" width="120px" alt="Edoctorug Logo"></a>
                    </div>
                    <div class="col-lg-8">
                        <h4 class="text-center mb-4">Privacy Policy</h4>
                        <div class="card">
                            <div class="card-body">
                                <p>At Edoctorug, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you use our services or interact with our website.</p>

                                <h5>Information We Collect</h5>
                                <p>We collect various types of information from and about users of our website and services, including:</p>
                                <ul>
                                    <li>Personal Information: such as your name, email address, phone number, and other contact information you provide when registering or using our services.</li>
                                    <li>Usage Information: such as your IP address, browser type, and operating system when you access our website or use our services.</li>
                                    <li>Cookies: small text files stored on your device when you visit our website, which help us improve your browsing experience and analyze usage patterns.</li>
                                </ul>

                                <h5>How We Use Your Information</h5>
                                <p>We may use the information we collect to:</p>
                                <ul>
                                    <li>Provide and improve our services.</li>
                                    <li>Communicate with you regarding your inquiries, requests, or feedback.</li>
                                    <li>Personalize your experience and deliver relevant content and advertisements.</li>
                                    <li>Analyze usage trends and optimize our website and services.</li>
                                    <li>Comply with legal obligations and enforce our policies.</li>
                                </ul>

                                <h5>Disclosure of Your Information</h5>
                                <p>We may share your information with:</p>
                                <ul>
                                    <li>Third-party service providers who assist us in operating our website or providing our services.</li>
                                    <li>Law enforcement agencies, regulatory authorities, or other third parties when required by law or to protect our rights, property, or safety.</li>
                                </ul>

                                <h5>Security Measures</h5>
                                <p>We take reasonable measures to protect your information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the Internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

                                <h5>Updates to Our Privacy Policy</h5>
                                <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We encourage you to review this page periodically for the latest information on our privacy practices.</p>

                                <h5>Contact Us</h5>
                                <p>If you have any questions or concerns about our Privacy Policy or practices, please contact us at privacy@edoctorug.com.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core
    <script src="{% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>

</body>
  </html>
